/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /*https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
  --colour-white: #f8f9fa;
  --colour-light-grey: #e9ecef;
  --colour-grey: #dee2e6;
  --colour-dark-grey: #ced4da;
  --colour-darker-grey: #adb5bd;
  --colour-dark: #343a40;
  --colour-darker: #212529;
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-white);

  /* Body configuration */
  --body-default-colour: var(--colour-darker);
  --body-background-colour: var(--colour-grey);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--colour-darker);
}
.header-logo {
  display: flex;
  align-items: center;
}

header img {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
}
header h2 {
  color: var(--header-heading-colour);
  user-select: none;
  margin-left: 0.5rem;
  font-size: 2rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding:0.8rem
}

header nav ul li {
  margin-left: 2rem;
}

header nav ul li a {
  display:flex;
  color: #ffffff;
  text-decoration: none;  
}


.hero {
  padding: 2rem;
  background-color: var(--colour-dark);
  color: var(--colour-white);
  height: 100vh;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid blue;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.carousel-container {
  border: red 1px solid;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.carousel {
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

.carousel-btn {
  position: absolute;
  transform: translateY(-50%);
  font-size: 1.5em;
  background: none;
  border: none;
  top: 50%;
  cursor: pointer;
  color: var(--colour-white);
  opacity: 0.8;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.more-btn {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--colour-darker);
  cursor: pointer;
  background-color: var(--colour-darker);
  color: var(--colour-white);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 45rem;
  background-color: var(--colour-light-grey);
  border-radius: 2rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}
.product-container img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.product-text {
  padding: 1rem;
}
.product-text h2 {
  font-size: 1rem;
  color:#3A5A40;
}
.product-text button {
  font-size: 2rem;
  border: none;
  margin: 0;
  color:#344E41;
  text-align: start;
  cursor: pointer;  
}

.product-text p {
  font-size: 1rem;
  color:#344E41;

}

/*
  MEDIA QUERIES
*/
/* tablets */
@media (max-width: 800px) {
  .hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .carousel-container {
    border: yellow 1px solid;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  
  }
}

/* phones */
@media (max-width: 428px) {
.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carousel-container {
  border: green 1px solid;
  width: 300px;
  height: 300px;
  margin: 0 auto;

}
}


/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
